Package: com.yourcompany.pgpunlock
Name: PGPUnlock
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: auston salvana
Author: auston salvana
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
